 
<!--
<div class="modal-header shippingZoneModalHeader" ng-cloak>
  <button type="button" class="close" ng-click="closeShippingZonesDialog()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'CLOSE' | translate}}</span></button>
  <h4 class="modal-title" id="myModalLabel">{{'PickUp_INFORMATION' | translate}}</h4>
</div>-->
<style>
.home-googleMap {
		width: 96%;
		margin-left: auto;
	    margin-right: auto;
		height:450px;
		text-align: center;
	  }

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
          <h2 id="header">PickupStore</h2>
        </div>
        <div class="col-sm-4">
           
            <form name="pickupstoreform" ng-submit="submit()">
                  <input type="text" name="pincode" ng-model="pincode" placeholder="Enter Pincode Or Place : ">
                  <button type="submit" class="btn btn-default">Search PickStores</button>
            </form>
        </div>
        <div class="col-sm-6">
<!--          <h2 id="header">PickupStore :</h2>-->
        </div>
        

    </div>
    <div class="row">
        <div class="col-sm-6">
                     <div class="panel panel-default">
                         
                          <!-- add to cart -->
                        <div >
                                    <button id="buy-button" class="btn btn-primary btn-block buyButton" ng-click="addToCartFromDetailPage()"
                                        >{{'ADD_TO_CART' | translate}}</button>
                                
                         </div>
                               
                         <!-- List group -->
                         <ul class="list-group" >
                             <li class="list-group-item" ng-repeat="pickstore in pickstores">
                                 <label>
                                      <input type="radio" ng-model="$parent.selectedPickupStore" name="id" value="{{pickstore.id}}" ng-click="getPickStoreID()" />
                                    {{$index + 1}}.  {{pickstore.id}} ,{{pickstore.name}} 
                                     <span> , {{pickstore.openingschedule}} -- {{pickstore.closingschedule}}</span>
                                 </label>
                                 
                             </li>
                         </ul>
                     </div>
     </div>
    <div class="col-sm-6">
           <div id="map" class="home-googleMap">
          </div>
    </div>
</div>

<div>
   
   <!-- <div id="map1">
      <ng-map center="41,-87" zoom="3"></ng-map>
    </div> -->
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
</div>



<script src="js/vendor-static/jquery.min.js"></script>
<script src="js/vendor-static/bootstrap.min.js"></script>
<script src="js/vendor-static/owl.carousel.js"></script>
<script src="js/vendor-static/img-touch-canvas.js"></script>
<script src="js/vendor-static/jquery.fullscreen-min.js"></script>
<script src="js/vendor-static/main.js"></script>
